
.todo-item{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.label-container{
    display: flex;
    flex-direction: row;
    background-color: #e6f6ff;
    width: 50vw;
    border-style: solid;
    border-width: 5px;
    border-color: #5218fa;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.checkbox-label{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.checkbox-input {
    width: 30px;
    height: 20px;
    margin-top: 9px;
    margin-right: 12px;
  }
.delete-logo{
    width: 20px;
    height: 20px;
   
}
.button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    outline: none;
    align-self: flex-end;
    margin-left: auto;
    cursor: pointer;
    margin-right: 20px;
    
}
.edit-btn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    outline: none;
    align-self: flex-end;
    margin-left: auto;
    cursor: pointer;
    margin-left: 8px;
}
.edit-icon{
    width: 20px;
    height: 20px;
    margin: 0px;
}
.checked.checked {
    text-decoration: line-through;
}
.edit-input{
    width: 80%;
}
.save-btn {
    margin-left: 20px;
    background-color: #00ed53 ;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 3px;
    margin-bottom: 3px;

}